- if disk
  %div
    %a.scope_anchor{ id: "disk" }
    .scope#disk_container
      = render_partial "scope_header",
        :scope => "disk",
        :title => "Disk",
        :count => "#{disk.length} #{Machinery.pluralize(disk.length, "disk")}"
      .row.scope_content.collapse.in
        .col-xs-1
        .col-xs-11
          %table.table.table-striped.table-hover.table-condensed.filterable
            %thead
              %tr
                %th Content
            %tbody
              - disk.each do |d|
                %tr
                  %td= d.content

